@model IEnumerable<CeeLearnAndDo.Models.MyModels.Article>

@{
    ViewBag.Title = "Homepage";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet" />
    <link href="~/Content/3-col-portfolio.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="Ts_navbar">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CEELEARNANDDO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/home/questions">Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white Ts_header">
        <div class="Ts_dark_overlay">
            <div class="container text-center">
                <h1>CEELEARNANDDO</h1>
                <p class="lead">The best school project ever made, and the most beautiful website ever created</p>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="sm_h2">About</h2>
                    <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                    <ul>
                        <li>Clickable nav links that smooth scroll to page sections</li>
                        <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                        <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                        <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2 class="sm_h2" style="margin-left: 1.5%;">Articles</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 portfolio-item sm_portfolio_item">
                            <div class="card h-100">
                                <a href=""><img class="card-img-top" src="~/Images/7_Blue-Ice-700x400.jpg" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        @Html.ActionLink(item.Title, "Article", "Home", new { id = item.Id }, new { @id = "item" + item.Id })
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                                </div>
                            </div>
                        </div>
                    }
                    <a>@Html.ActionLink("Articles", "Articles", "Home",
                                         new { @class = "btn btn-success sm_btn_success" } )</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="sm_h2">Contact us</h2>
                    <form action="/action_page.php">
                        <fieldset>
                            <legend>Personal information:</legend>
                            Name:<br />
                            <input type="text" name="firstname" placeholder="Name"><br><br />
                            Email:<br />
                            <input type="text" name="lastname" placeholder="user@email.com"><br><br>
                            <div style="position: absolute; margin-left: 350px; margin-top: -155px;">
                                Question:<br />
                                <textarea name="question" rows="8" cols="40"></textarea>
                            </div>
                        </fieldset>
                    </form>
                    <input type="submit" value="Submit" class="btn btn-success" style="margin-left: 822px; margin-top: 30px;">
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark" id="Ts_footer">
        <div class="Ts_dark_overlay_footer">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; CEELEARNANDDO 2018</p>
                <a href="https://www.facebook.com/" style="position: absolute; margin-left: 1200px; margin-top: -30px;"><img src="~/Images/facebook_circle-512.png" style="height: 15%; width: 15%;" /></a>
            </div>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/Scripts/scrolling-nav.js"></script>

</body>

</html>
