/*Tyas CSS*/
.Ts_header {
    min-height: 80px;
    background-image: url(../Images/Home-header-background.jpeg);
    background-size: cover;
    padding-top: 90px;
    color: #fff;
    padding-bottom: 0px;
    margin-top: -4%;
}
.Ts_dark_overlay {
    min-height: 900px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    height: 187%;
    margin-top: -10%;
    padding: 20%;
}
#Ts_footer {
    background-image: url(../Images/Home-header-background.jpeg);
    background-size: cover;
    color: #fff;
    background-position: center bottom;
    padding: 0 !important;
}
.Ts_dark_overlay_footer {
    padding: 3rem !important;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    height: 100%;
    width: 100%;
}
.navbar-right li {
    margin-right: 10px;
}
#Ts_navbar {
    background-color: rgba(0,0,0,0.5) !important;
    border: 0px solid transparent;
}
.navbar-nav {
    margin-right: auto !important;
    margin-left: 0 !important;
}
#Ts_navbar li a {
    color: #fff;
}
#Ts_navbar li a:hover {
    color: #3e699c;
}
#Ts_navbar .navbar-brand {
    color: #fff;
}
#Ts_navbar .navbar-brand:hover {
    color: #3e699c;
}
#Ts_navbart .navbar-nav > .active > a, #Ts_navbar .navbar-nav > .active > a:hover, #Ts_navbar .navbar-nav > .active > a:focus {
    background-color: rgba(62, 105, 156, 0.7);
}
#Ts_navbar .active a:hover {
    color: #4E84C4;
}
#Ts_scroll_down {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    font-size: 30px;
    scroll-behavior: smooth;
    color: #000;
    opacity: 0.5;
}
.Ts_Questions {
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 10px;
    color: #000;
    background-color: rgba(0, 123, 255, 0.0);
    border-bottom: 2px solid rgba(0, 123, 255, 0.6);
}
.Ts_Questions_title h2 {
    border-bottom: 1px solid rgba(0, 123, 255, 0.6);
    display: inline;
    padding: 0px 5px;
}
.Ts_Questions_title {
    margin-bottom: 10px;
    margin-left: -20px;
}


    /*END Tyas CSS*/
    /*Sam CSS*/
    /*Fake bootstrap*/
    .bg-grey
    /*END fake bootstrap*/
    .sm_ceelearnanddo_logo {
        margin-top: 10%;
        font-family: monospace;
        font-size: 120px;
    }

    .nav.navbar-nav.navbar-right {
        margin-left: 65% !important;
    }

    .sm_portfolio_item {
        display: inline-block;
    }
/*END Sam CSS*/